.paletteGrid {
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    gap: 0;
    margin-bottom: 2rem;
    width: 100%;
}

/* Responsiveness */
@media (max-width: 996px) {
    .paletteGrid {
        grid-template-columns: repeat(min(var(--columns), 2), minmax(0, 1fr));
    }
}

@media (max-width: 640px) {
    .paletteGrid {
        grid-template-columns: 1fr;
    }
}